:root{
  /* --main-color: rgb(38, 144, 214); */
  --old-color:#4CAF50;
}

.chat-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 2vh 2vw;
}

.messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.message {
  margin: 10px 0;
  max-width: 70%;
  padding: 10px;
  border-radius: 10px;
}

.message.user {
  background-color: #DCF8C6;
  align-self: flex-end;
}

.message.bot {
  background-color: #e2e0e0;
  align-self: flex-start;
}

.input-area {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 14px;
  padding: 10px;
  background-color: white;
}

.input-area input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.chat-container button {
  padding: 10px 20px;
  border: none;
  background-color: var(--main-color);
  color: white;
  cursor: pointer;
}

button.send-message{
  border-radius: 14px;
  padding: 10px 15px;

}

.send-svg {
  width: 15px; 
  height: 15px;
  fill: white; 
}



.input-area button:hover {
  background-color: #45a049;
}

@media screen and (max-width: 1000px) {
  .message{
    max-width: 100%;
  }
}
