
/* :root{
  --main-color: rgb(43, 147, 216);
  --old-color:#4CAF50;
} */



/* src/components/Navbar/Navbar.module.css */
.navbar {
  display: flex;
  flex-direction: column;
}

.navbar h2 a { /* This targets 'a' within 'h2' within '.navbar' - it's fine */
  color: white;
}

.navbar h2{
  font-size: 1.5rem;
  font-weight: 700;
}



.firstGroup{
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: var(--navbar-color);
  /* background-color: var(--main-color); */
  border-radius: 10px;
  align-items: center;
  padding: 10px 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.selectLanguage{
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.selectLanguage:focus{
  outline-color: grey;
}

.secondNavGroup{
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  align-self: center;
}

.navLink { /* Was nav-link */
  /* color: white; */
  font-weight: 700;
  font-size: 1rem;
  text-decoration: none;
  padding: 5px;
  color: black;
  /* border: 2px solid var(--main-color); */
  border: none;
  border-radius: 6px;
  background-color: rgb(241, 239, 239);
  flex: 1;
  text-align: center;
  transition: background-color 0.3s ease-in;
}

.navLinkActive {
  background-color: rgb(175, 171, 171);
}
/* .navLink:hover {
  text-decoration: underline;
} */

.svg{
    width: 25px; 
    height: 25px;
    fill: white;
    color: white; /* color might not be needed if fill is white */
    display: inline;
    align-self: center;
}

/* .svg.questionnaire{
  width: 30px;
  height: 30px;
  position: relative;
  top: 2px;
} */


.logoImage{
  max-height: 30px;
}