
/* :root{
  --main-color: rgb(43, 147, 216);
  --old-color:#4CAF50;
} */


/* src/components/Navbar/Navbar.module.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-color);
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.navbar h2 a { /* This targets 'a' within 'h2' within '.navbar' - it's fine */
  color: white;
}

.navbar h2{
  font-size: 1.5rem;
  font-weight: 700;
}

.navLink { /* Was nav-link */
  margin-left: 15px;
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 0.9rem;
}

.navLink:hover {
  text-decoration: underline;
}

.svg{
    width: 25px; 
    height: 25px;
    fill: white;
    color: white; /* color might not be needed if fill is white */
    display: inline;
    align-self: center;
}

.svg.questionnaire{ /* Combined class */
  width: 30px;
  height: 30px;
  position: relative;
  top: 2px;
}
